@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* shaerd styles */
.displa-flex {
    display: flex;
}

.text-gray {
    color: #3A3A3A;
}

.text.sweet {
    color: #E02C6D;
}


.navnbar {
    /* border: 2px solid red; */
    max-width: 1440px;
    margin: 0 auto;

}




/* header styles  */

/* navbar styles */
.navnbar {
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 87px;
}

.nav-title {
    /* margin-left: 100px; */
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A3A3A;
   
}

.nav-item {
    list-style: none;
    margin-right: 34px;
}

.nav-link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

/* banner styles start here */
.banner-container {
    width: 1440px;
    margin: 0 auto;
    border: 1px solid green;
 /* justify-content: space-between; */
}

.banner-text-container {
    /* max-width: 580px; */
    margin: 0 auto;
    margin-top: 50px;
    
}

.banner-title {
    width: 582px;
    height: 133px;
    font-size: 3.25rem;
    font-weight: 700;
    color: #3A3A3A;
    margin-right: 200px
    /* margin-bottom: 16px; */
}

.banner-description {
    width: 500px;
    height: 120px;
    font-size: 1rem;
    font-weight: 500;
    color: #3A3A3A;
 
}

.btn-primary {
    width: 196px;
    height: 44px;
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px;
    border-radius: 50px;
    border: none;
}

.banner-image-container {
    width: 475px;
    height: 475px;
    background-image: url(../images/Circle\ design.svg);
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
  
}

.banner-image-container img {
    position: absolute;
}

/* responsive media query */

@media screen and (max-width:576px) {
    .navnbar, .nev-links{
        flex-direction: column;
    }
}